:root{
    --primary:#49670B;
    --secondary:#DDE6C6;
}

.hero{
    background: var(--secondary);
}

input:-internal-autofill-previewed[type="password"],
input:-internal-autofill-selected[type="password"] {
    display: none !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


div[pseudo="-webkit-credentials-auto-fill-button"]:focus{
    display: none !important;
}